# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc
.next
/build
.qodo


# typescript
*.tsbuildinfo
next-env.d.ts
tsconfig.tsbuildinfo

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
*.log
**/*.log

# System Files
.DS_Store
Thumbs.db

# dependencies
node_modules
yarn.lock
package-lock.json
node_modules
.cache
build
.next
public/build
.env
.data

# Nx cache
.nx-cache
.nx

# Next.js
.next
out

# Storybook
build-storybook.log


